:root { --primary: #064e3b; --gold: #b8860b; }
body { font-family: 'Montserrat', sans-serif; scroll-behavior: smooth; overflow-x: hidden; }
.serif-title { font-family: 'Playfair Display', serif; }

/* GAMBAR BACKGROUND NGEPAS */
.hero-section {
    background: linear-gradient(rgba(6, 78, 59, 0.65), rgba(0, 0, 0, 0.65)), url('AQ.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 769px) {
    .hero-section { background-attachment: fixed; }
}

@media (max-width: 768px) {
    .hero-section { min-height: 100vh; }
    .nav-text { color: white !important; }
}

/* Navbar Efek Scroll */
.nav-scrolled {
    background: white !important;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.nav-scrolled .nav-text, 
.nav-scrolled .nav-link a, 
.nav-scrolled #open-menu {
    color: #064e3b !important;
}

#mobile-menu.active { transform: translateX(0); }
